body, html{
    height: 100%;
}

body{
    display: flex;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: #111111;
    background-color: #e5e5e5;
    justify-content: center;
    align-items: center;
}

/*Container*/

.container{
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
    max-width: 617px;
    width: 100%;
    height: 763px;
    background: #fff;
    border-radius: 20px;
    align-items: center;
}

.container #goback{
    height: 100%;
}

/* Logo */

#logo{
    display: flex;
    justify-content: center;
}

.logo{
    width: 213px;
    height: 124px;
    padding: 20px;
}

/* Title */

h1{
    display: flex;
    justify-content: center;
    font-size: 36px;
    line-height: 24px;
}

/* ID items */

#goback{
    align-items: center;
    width: 270px;
    height: 180px;
    display: flex;
}

#goback a{
    font-family: "Nunito";
    font-size: 36px;
    color:#fff;
    text-decoration: none;
}

/* Class items */

.goback{
    height: 180px;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #0DBDBD;
}


/* Media */

@media (max-width: 600px){

    body{margin:0px;}

    #goback{
        width: 100%;
    }
    .goback{
        max-height: 75px;
        align-items: center;
        padding: 15px;
        align-items: center;
    }

    .container{
        height: 100%;
        width: 100%;
        border: none;
        border-radius: 0px;
        justify-content: center;
    }

    .container #goback{
        height: 0%;
        padding-top: 85px;
    }
}