body, h1{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: #111111
}

.logo{
    display: flex;
    width: 213px;
    height: 124px;
    flex-direction: column;
    padding: 40px;
}

h1{
    display: flex;
    font-weight: 600;
    font-size: 36px;
    line-height: 24px;
    justify-content: center;
    margin: 8px 0px;
}

main {
    width: 940px;
    margin: 0 auto;
}

form{
    display: flex;
    justify-content: center;
}

form label{
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
}

form input {
    display: flex;
}