body{
    font-family: "Roboto", Helvetica, Arial, Helvetica, sans-serif;
    background: #5744c0
}

.logo{
    max-width: 960px;
    margin: 60px;
    background: #4737a4;
}

main {
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label{
    display: block;
    font-size: 20px;
}

form input {
    display: block;
}

