body{
    display: flex;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: #111111;
    background-color: #e5e5e5;
}

header{
    margin: 0px;
    width: 617px;
    height: 763px;
    left: 187px;
    top: 282px;
    background: #FFFFFF;
    border-radius: 20px;
}

.logodad{
    display: flex;
    justify-content: center;
    padding: 0% 33% 0% 33%;
}

.logo{
    width: 213px;
    height: 124px;
    padding: 20px;
}

h1{
    display: flex;
    font-weight: 600;
    font-size: 36px;
    line-height: 24px;
    justify-content: center;
    margin: 8px 0px;
}

main {
    width: 940px;
    margin: 0 auto;
}

.txt{
    display: flex;
    width: 515px;
    background-color: aquamarine;
    flex-direction: column;
    flex-flow: row wrap;
}

form{
    display: flex;
    justify-content: center;
}

/* FORMS */

#fullname{
    flex: 1 0 500px;
}

#email{
    flex: 0 0 330px;
}

#phone{
    flex: 0 0 164px;
}

#password{
    flex: 0 0 330px;

}

#birthday{
    flex: 0 0 164px;
}

form label{
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
}

form input {
    display: flex;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    border: 2px solid #AAAAAA;
}